.App {
  display: flex;
  min-height: 100vh; /* Changed from height to min-height */
  background-color: #121212;
  color: #cfcfcf;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #ccc;
  background-color: #1e1e1e;
  padding: 20px;
  overflow-y: auto;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}