/* src/App.css */
.App {
  display: flex;
  height: 100vh;
  background-color: #121212;
  color: #cfcfcf;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  background-color: #1e1e1e;
}

.right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
