/* src/components/FileUpload.css */
.file-upload-container {
  padding: 20px;
  text-align: center;
  background-color: #2b2b2b; /* Dark background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
  color: #ffffff; /* Light text color for contrast */
}

.dropzone {
  border: 2px dashed #aaaaaa; /* Light gray border */
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropzone:hover {
  background-color: #383838; /* Slightly lighter background on hover */
}

.upload-icon {
  font-size: 48px;
  color: #aaaaaa; /* Light gray icon */
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.file-types {
  color: #bbbbbb; /* Light gray text */
}

.file-count {
  color: #ffffff; /* White text */
  font-weight: bold;
}

.file-list {
  margin-top: 20px;
  text-align: left;
}

.file-list ul {
  list-style-type: none;
  padding: 0;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444444; /* Dark gray background */
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff; /* White text */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  margin-right: 10px;
}

.remove-file-button {
  background: none;
  border: none;
  color: #ff1744; /* Red color for the remove button */
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.remove-file-button:hover {
  color: #d50000; /* Darker red on hover */
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Add margin-top to move the button down */
}

.submit-button:hover {
  background-color: #0056b3;
}

.name-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.confirm-button, .cancel-button {
  flex: 1;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.cancel-button {
  background-color: #dc3545; /* Different color for cancel */
}